<div class="form">
  {{yield
    (hash
      text=(component 'field-container'
        control='input-control'
        model=model

        commitValue=updateValue
      )

      textarea=(component 'field-container'
        model=model
        control='textarea-control'

        commitValue=updateValue
      )

      save=(component 'simple-button')
    )
  }}
</div>

