.field {
  margin-bottom: 0.5em;
}


.field label {
  margin-bottom: 0.em;
  font-weight: bold;
  display: block;
}

.field input, .field textarea {
  border: 1px solid gray;
  border-radius: 5px;
  padding: .5em;
}

.field.error input, .field.error textarea {
  background-color: lightsalmon;
}

.field .errors .error {
  color: red;
}
